<!DOCTYPE html>
<html amp>
  <head>
    <meta charset="utf-8" />
    <title>Practice Songs</title>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-audio" src="https://cdn.ampproject.org/v0/amp-audio-0.1.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <link
      rel="canonical"
      href="/index.html"
    />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1"
    />
    <style amp-custom>
      body {
        padding: 20px;
      }
      h1 {
        color: red;
        text-align: center;
      }
    </style>
   <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript></style>
  </head>
  <body>
      <h1>Practice Songs</h1>
      <amp-list layout="fixed-height"
      height="500"
      src="songs.json"
      binding="no">
      <template type="amp-mustache">
        <p>
          <label>{{title}}</label>
          <amp-audio 
            src="songs/{{url}}"
            width="auto"
            preload="none"
            title="Do It Again">
            </amp-audio>
        </p>
      </template>
    </amp-list>
  </body>
</html>
